html,body{
   margin:0;
   height:100%;
   overflow:hidden;
   font-family:'Libre Baskerville', serif;
}


.bg-container{
background-size:cover;
background-repeat: no-repeat;
background-position: top left;
width:100%;
height:100%;
border: 0px solid black;
box-sizing: border-box;
}

.index-h1,.index-h2
{
color:white;
line-height:1.25;
}

h1
{
font-size:5rem;
}
h2
{
font-size:4rem;
}


.intro{
margin:12% 18% 18% 12%;
height:auto;
position:absolute;
z-index:2;
}

.hire-button
{
font-family:'Libre Baskerville', serif;
margin-top:8px;
margin-left:12px;
font-size:2rem;
}


.mybrand{
margin:1rem 0  0 2rem;
font-size:2rem;
color:white;
}

.mylinks{
margin-right:3rem;
}
.mypage{
font-size: 1.25rem;
}
.footer-icon{
color:white;
margin-top:1rem;
margin-right:2rem;
line-height:2;
font-size:2rem;}

.copyright{
position:absolute;
bottom:5px;
right:5px;
color:white;
font-size: 0.75rem;}



.about-container{

background-size:cover;
background-repeat: no-repeat;
background-position: top left;
width:100%;
height:100%;
border: 0px solid black;
box-sizing: border-box;
}
.profile-pic{
position:absolute;
left:0px;
right:0px;
top:110px;
margin-right:auto;
margin-left:auto;
width:10%;
z-index:1;
}

.letter-container{
position:absolute;
width:50%;
left:0px;
right:0px;
margin: 150px auto auto;
height:auto;
background-color:rgba(54,0,125,0.3);
}

.letter-container h2{
text-align:center;
color:black;
font-family: 'Merriweather', serif;
font-weight:700;
line-height:1.5;
font-size:3rem;
color:white;}

.letter-para{
color:white;
text-align:left;
line-height:2;}

.letter-container h3{
color:white;
font-family:'Pacifico', cursive;
font-size:2rem;
text-align:right;
margin-right:25px;
margin-bottom:25px;
}

.skills-header{
margin:0 auto;
height:70%;
width:100%;
background-size:cover;
background-repeat: no-repeat;
background-position: center;
text-align:center;
}
.skills-header h1{
font-family: 'Merriweather', serif;
font-size:4rem;
color:white;
line-height:2;
margin: 8%;
}
.skills-toggle{
color:white;
}

.skills-nav ul li a {
color: white;
}

.project-container{
text-align:center;
}
.project-container h3{

margin: 50px auto 50px;
font-weight:900;
font-size:2.5rem;
text-decoration:underline;
color: #371B58;
}

.project-img{
width:70%;
margin:auto;
}
.project-set h5{
color:#A91079;
text-decoration:underline;
font-weight:800;
}

.project-img:hover{
opacity: 0.5;
}

.project-set{
width:50%;
margin:auto;
text-align:left;
}

.project-set p {
color: #13131A;
line-height:1.75;
}

.grid-element{
margin: 100px;
}

.skills-container{
line-height:1.75;
font-size:1.05rem;
width:50%;
}
.skills-container h5{
font-size:2.5rem;
font-weight:600;
line-height:2;
text-align:center;
}

.skills-list{
text-align:left;
}
.skills-list h6{
fonr-weight:800;
font-size:1.5rem;
line-height:2;
}
.academia-header{
margin:0 auto;
height:70%;
width:100%;
background-size:cover;
background-repeat: no-repeat;
background-position: center;
text-align:center;
}
.academia-header h1{
font-family: 'Merriweather', serif;
font-size:4rem;
color:white;
line-height:2;
margin: 8%;
}

.summary{
width:50%;
margin:100px auto 50px;

}

.summary h6{
line-height:1.5;
font-size:1.5rem;
text-align:center;}

.edu-container h6{
text-align:center;
font-size:2rem;
color: #371B58;
line-height:2;}

.edu-container{
width:50%;
}

.contact-container{

background-size:cover;
background-repeat: no-repeat;
background-position: center;
width:100%;
height:100%;
border: 0px solid black;
box-sizing: border-box;
}

.form-container{
width:50%;
margin: auto;
padding: 50px 50px 20px;
background: rgba(255, 255, 255, 0.4);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.5px);
-webkit-backdrop-filter: blur(7.5px);
border: 1px solid rgba(255, 255, 255, 1);}

.form-container h4{
font-family: 'Merriweather', serif;
font-size:2.5rem;
text-align:center;
line-height:2;
}
.form-container h6{
padding-top:10px;
line-height:2;}