html,body{
    margin:0;
   height:100%;
   background-color: black;
   overflow:hidden;
   position:relative;
}


.bg-container{
/*background-image: url('../images/indexbg.jpg')*/

background-size:cover;
background-repeat: no-repeat;
background-position: top left;
width:100%;
height:90%;
border: 0px solid black;
box-sizing: border-box;


}
a{
font-size:1.5rem;
}
h1,h2,p
{
color:white;
line-height:1.25;
}
h1
{
font-family:'Libre Baskerville', serif;
font-size:5rem;
}
h2
{
font-family:'Libre Baskerville', serif;
font-size:4rem;
}

.hire-button
{
font-family:'Libre Baskerville', serif;
margin-top:8px;
margin-left:12px;
font-size:2rem;
}
.intro{
margin:12% 18% 18% 12%;
height:auto;
position:absolute;
z-index:2;
}
