/* -----------------------------index-----------------------------*/
.bg-container{
width:100%;
height:100%;
}

.index-h1,.index-h2
{
color:white;
line-height:1.25;
font-weight:900;
text-shadow: 2px 2px grey;
}

.index-h1
{
font-size:5rem;
}
.index-h2
{
font-size:4rem;
}

.intro{
margin:9% auto auto 12%;
height:auto;
}

.hire-button
{
font-family: 'Dongle', sans-serif;
margin-top:8px;
padding:1px 12px;;
font-size:3rem;
}

.mybrand{
margin:1rem 0  0 2rem;
font-size:2.6rem;
font-family: "Sacramento", cursive;
font-weight:700;
color:white;
}

.mylinks{
margin-right:3rem;
color:white;
}

.mypage{
font-size: 1.25rem;
color:white;
}

.footer{
text-align:center;
margin-top:10%;}

.footer-icon{
color:white;
margin-top:1rem;
margin-right:2rem;
line-height:2;
font-size:2rem;
margin-left:5%;}

.copyright{
position:absolute;
bottom:5px;
right:5px;
color:white;
font-size: 0.75rem;}

/*---------------------index media*/

@media (max-width:900px){
.intro{
display:grid;
margin:25% auto auto;}

.index-h1, .index-h2{
text-align:center;
font-size:3rem;
}

.hire-button{
font-size:3rem;
margin:auto;
}

.mybrand{
font-size:1.25rem;
}

.footer{
margin-top:15%;}

}
/*------------------about-----------------*/
.letter-table{
width:100%;
margin:5%;
}

.about-container{
background-color:#2E0249;
text-align:center;
margin:auto;
width:100%;
}

.about-container h1{
font-family: "League Spartan", sans-serif;
font-size:4rem;
font-weight:800;
color:white;
}

.letter-container{
text-align:center;
margin:0;
color:white;
font-family: 'Dongle', sans-serif;
background-color:#4C3575;
}

.profile-pic{
width:100%;
}

.letter-container h2{
font-weight:700;
line-height:1.5;
font-size:5rem;
}

.letter-para{
text-align:left;
line-height:1.05;
font-size:2rem;}

.letter-container h3{
font-family: 'Sacramento', cursive;
font-size:2rem;
text-align:right;
margin-right:25px;
margin-bottom:25px;
}

/*media about*/
@media (max-width:1280px) {

.letter-table{
margin-left:0;}

.image-container{
width:50%;
text-align:center;
margin:auto;
padding-bottom:10px;}

.letter-container h2{
font-size:2.5rem;}

.letter-para{
text-align:center;
font-size:1.5rem;
}
}
/*-----------------skills----------------------*/
.skills-header{
font-family: "League Spartan", sans-serif;
margin:0 auto;
background-color:#7A0BC0;
text-align:center;
}

.skills-header h1{
text-shadow:2px 2px white;
font-size:4rem;
color:white;
margin-bottom:0;

}

.project-container{
font-family: 'League Spartan', sans-serif;
text-align:center;
background: rgb(225,122,250);
background: linear-gradient(90deg, rgba(225,122,250,0.8130602582830007) 11%, rgba(149,108,200,0.9559174011401436) 57%, rgba(235,138,244,1) 90%);

}

.project-container h3{
font-family: 'League Spartan', sans-serif;
margin:auto;
font-weight:500;
font-size:2.5rem;
text-shadow:2px 2px black;
padding-top:50px;
}

.project-table{
margin: 4%;

}

.project-img{
width:100%;
margin:auto;
box-shadow:5px 5px 4px black;
}

#coffee-img{
padding-bottom:11%;}
#movie-col{
margin:auto;
}

#carouselSlides{
box-shadow:5px 5px 4px black;
}

.project-img:hover{
opacity: 0.5;
}

.project-set{
width:90%;
margin:auto;
text-align:left;
}

.project-set h5{
font-size:1.5rem;
font-weight:800;
color: #2E0249;}

.project-set p {
font-family: 'Dongle', sans-serif;
color: #13131A;
line-height:1;
font-size:2rem;}

@media (max-width:900px){
.skills-header h1{
font-size:2rem;
text-shadow:0 0;}
.project-container h3{
font-size:2rem;
text-shadow:0px 0px;
}

.project-table{
margin:1%;}

.project-set{
text-align:center;
}
}

/*----------------------skills ---------------------------*/

.skills-container{
font-family: 'Dongle', sans-serif;
line-height:1.5;
font-size:2rem;
width:100%;

color:#5534A5;
}

.skills-intro h5{
font-family: 'League Spartan', sans-serif;
font-size:2.5rem;
font-weight:600;
line-height:1;
text-align:center;
padding:50px 50px;
}
.skills-intro {
background-color:white;
}

.skills-list{
text-align:left;
margin:auto;
color:white;
}

.skills-list h6{
font-family:font-family: 'League Spartan', sans-serif;
fonr-weight:800;
font-size:2.25rem;
line-height:2;
color: white;
}
.skill-bg{
background: rgb(255,111,174);
background: radial-gradient(circle, rgba(255,111,174,1) 0%, rgba(232,75,75,1) 56%, rgba(166,77,146,1) 100%);}
/*-----------------media skills------------------------------*/

@media (max-width:900px)
{
.skills-intro h5
{
line-height:1;
}

.skills-container
{
line-height:1.1;
}
}
/*----------------academia-------------------------*/

.academia-header{
font-family: 'League Spartan', sans-serif;
margin:0 auto;
text-align:center;
background-color:#4FD3C4;
}

.academia-header h1{
font-family: 'League Spartan', sans-serif;
font-size:4rem;
color:white;
line-height:2;
margin-bottom:0;
}
.edu-bg{
background: rgb(207,255,236);
background: linear-gradient(90deg, rgba(207,255,236,1) 0%, rgba(227,167,255,1) 56%, rgba(254,208,255,1) 100%);}

.summary{
width:50%;
margin:0 auto ;
font-family: 'Dongle', sans-serif;
}

.summary h6{
line-height:1;
font-size:3rem;
text-align:center;}

.edu-container h6{
text-align:center;
font-size:4rem;
color: #371B58;
line-height:2;}

.edu-container{
width:50%;
font-family: 'Dongle', sans-serif;
font-size:3rem;
line-height:1;
}
/*-------------------media education-----------------------------*/

@media (max-width:900px){
.academia-header h1{
font-size:3rem;}

.summary{
width:90%;}

.summary h6{
font-size:2rem;}

.edu-container h6{
font-size:2.5rem;
}

.edu-container{
width:90%;
text-align:center;}

.edu-container p{
font-size:2rem;
}
}
/*--------------------contact----------------------------*/

.contact-container{
font-family: 'League Spartan', sans-serif;
background-size:cover;
background-repeat: no-repeat;
background-position: center;
width:100%;
height:100%;
border: 0px solid black;
box-sizing: border-box;
}

.form-container{
font-family: 'League Spartan', sans-serif;
width:50%;
margin: auto;
padding: 50px 50px 20px;
background: rgba(255, 255, 255, 0.4);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.5px);
-webkit-backdrop-filter: blur(7.5px);
border: 1px solid rgba(255, 255, 255, 1);}

.form-container h4{
font-size:2.5rem;
text-align:center;
line-height:2;
}

.form-container h6{
font-family: 'League Spartan', sans-serif;
padding-top:10px;
line-height:1.5;}

/*-----------media contact-------------------*/

@media (max-width:900px){
.form-container{
width:100%;}
}