{% include 'header.html' %}

<body>

<div class="bg-container" style="background-image: url({{ url_for('static', filename='/images/index.jpg')}});">
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <a class="mybrand navbar-brand" href="{{url_for('home')}}">Portfolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto">
                <li class="mylinks nav-item ">
                    <a class="mypage nav-link" href="{{url_for('home')}}">Home </a>
                </li>
                <li class="mylinks nav-item ">
                    <a class="mypage nav-link" href="{{url_for('about')}}">About </a>
                </li>
                <li class="mylinks nav-item ">
                    <a class="mypage nav-link" href="{{url_for('academia')}}">Academia </a>
                </li>
                <li class="mylinks nav-item ">
                    <a class="mypage nav-link" href="{{url_for('skills')}}">Pro skills </a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="intro container-fluid">
        <h2 class="index-h2">I'm Divya</h2>
        <h1 class="index-h1">Web Developer</h1>
        <a class="hire-button btn btn-outline-light btn-lg" href="{{url_for('contact')}}">Hire Me</a>
<!--        <button type="button" class="hire-button btn btn-outline-light btn-lg">Hire Me</button>-->
        <div class="footer container-fluid">
          <i class="footer-icon fa-brands fa-github"></i>
          <i class="footer-icon fa-brands fa-linkedin"></i>
          <i class="footer-icon fa-solid fa-file-pdf"></i>

        </div>
    </div>
    <p class="copyright">© Copyright {{year}} Divya Chandrapandi</p>
</div>

<!--<picture class="index-image">-->
<!--  <source srcset="{{url_for('static',filename='images/indexbg.jpg')}}" media="(min-width: 600px)">-->
<!--  <img src="{{url_for('static',filename='images/indexbg.jpg')}}" alt="index-bg">-->
<!--</picture>-->

</body>

{% include 'footer.html' %}