<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>My Portfolio</title>
    <link rel="icon" href="static/images/icon.png?v=2" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{{url_for('static',filename='css/styles.css')}}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&family=Roboto+Condensed&display=swap" rel="stylesheet">

    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    

    <style>
        html,body
        {
        position:fixed;
        margin:0;
        height:100%;
        width:100%;
        overflow:hidden;
        font-family: 'Roboto Condensed', sans-serif;
        background-image:url({{ url_for('static', filename='/images/index.jpg')}});
        background-size:cover;
        background-repeat: no-repeat;
        background-position: top left;
        }
    </style>
</head>

<body>

<div class="bg-container">
<!--    <nav class="navbar navbar-expand-lg navbar-dark  ">-->

<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">-->
<!--            <span class="navbar-toggler-icon" style="color:white;"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->

<!--            <ul class="navbar-nav ml-auto">-->
<!--                <li class="mylinks nav-item ">-->
<!--                    <a class="mypage nav-link" href="{{url_for('home')}}">Home </a>-->
<!--                </li>-->
<!--                <li class="mylinks nav-item ">-->
<!--                    <a class="mypage nav-link" href="{{url_for('about')}}">About </a>-->
<!--                </li>-->

<!--                <li class="mylinks nav-item ">-->
<!--                    <a class="mypage nav-link" href="{{url_for('skills')}}">Pro skills </a>-->
<!--                </li>-->
<!--                <li class="mylinks nav-item ">-->
<!--                    <a class="mypage nav-link" href="{{url_for('academia')}}">Academia </a>-->
<!--                </li>-->
<!--                <li class="mylinks nav-item ">-->
<!--                    <a class="mypage nav-link" href="{{url_for('contact')}}">Contact </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </nav>-->
    <header>

         <nav class="index-navbar">
             <ul class="index-nav-list">
             <li>
                    <a class="index-nav-link" href="{{url_for('home')}}">HOME </a>
                </li>
                <li>
                    <a class="index-nav-link" href="{{url_for('about')}}">ABOUT </a>
                </li>

                <li>
                    <a class="index-nav-link" href="{{url_for('skills')}}">SKILLS </a>
                </li>
                <li>
                    <a class="index-nav-link" href="{{url_for('academia')}}">ACADEMIA </a>
                </li>
                <li>
                    <a class="index-nav-link" href="{{url_for('contact')}}">CONTACT </a>
                </li>
             </ul>

        </nav>

    </header>

    <div class="intro container-fluid">
        <h1 id="world-h1" ><span id="hello-span" > HELLO</span> WORLD</h1>
        <h1 id="this-h1">THIS <span id="is-span" > IS</span> DIVYA</h1>
        <h1 id="web-h1" ><span id="as-span" >AS </span>Web Developer</h1>
     <a class="hire-button btn btn-outline-light btn-lg" href="{{url_for('contact')}}">HIRE ME</a>
        <!--        <button type="button" class="hire-button btn btn-outline-light btn-lg">Hire Me</button>-->

    </div>

    <div class="footer container-fluid">
            <a href="https://github.com/divyachandrapandi"><i class="footer-icon fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/divya-chandrapandi-52482019a"><i
                    id="linkedin" class="footer-icon fa-brands fa-linkedin"></i></a>
            <i class="footer-icon fa-solid fa-file-pdf"></i>

        </div>
    <p class="copyright">© Copyright {{year}} Divya Chandrapandi</p>
</div>

<!--<picture class="index-image">-->
<!--  <source srcset="{{url_for('static',filename='images/indexbg.jpg')}}" media="(min-width: 600px)">-->
<!--  <img src="{{url_for('static',filename='images/indexbg.jpg')}}" alt="index-bg">-->
<!--</picture>-->

</body>

<footer>

    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

</footer>
</html>
