<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{{url_for('static',filename='css/styles.css')}}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Merriweather&family=Pacifico&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    <div class="bg-container" style="background-image: url({{ url_for('static', filename='/images/index.jpg')}});" >
        <div class="intro container-fluid">
            <h2>I'm Divya</h2>
            <h1>Web Developer</h1>
            <button type="button" class="hire-button btn btn-outline-light btn-lg">Hire Me</button>

        </div>
    </div>

<!--<picture class="index-image">-->
<!--  <source srcset="{{url_for('static',filename='images/indexbg.jpg')}}" media="(min-width: 600px)">-->
<!--  <img src="{{url_for('static',filename='images/indexbg.jpg')}}" alt="index-bg">-->
<!--</picture>-->

</body>
<footer>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

</footer>
</html>
